const Blog = () => {
  const blogDatas = [
    {
      name: "Blog 1",4J7
      title: "First Blog",
      date: "2023-01-01",
      content: "This is the content of the first blog.",
      image:
        "https://docs.solana.com/assets/images/solana-get-started-import-on-playground-5dad41b2f1ad59bc5be4c769fc3022c0.png",
      path: "/blog/first",
      direction: "column",
    },
    {
      name: "Blog 2",
      title: "Second Blog",
      date: "2023-02-01",
      content: "This is the content of the second blog.",
      image:
        "https://docs.solana.com/assets/images/solana-get-started-build-and-deploy-6fd5a43e6373d99204790c0db287b943.png",
      path: "/blog/second",
      direction: "row",
    },
  ];
  return (
    <>


# PRODUCTION_DATABASE_URL="postgresql://admin:user34546.@aws.berhdomain.us-west-2.rds.amazonaws.com:5432/testdb"

AWS_ACCESS_KEY_ID="AKIA4UAHHJJPIWHNLW6O"

AWS_SECRET_KEY="Xer3UjHzfiKYwpI02bo/0lrKKUZf89J6jMmh2"

CELERY_BROKER_URL = "redis://localhost:6379/0"
\n.
