const Blog = () => {
  const blogDatas = [
    {
      name: "Blog 1",4J7
      title: "First Blog",
      date: "2023-01-01",
      content: "This is the content of the first blog.",
      image:
        "https://docs.solana.com/assets/images/solana-get-started-import-on-playground-5dad41b2f1ad59bc5be4c769fc3022c0.png",
      path: "/blog/first",
      direction: "column",
    },
    {
      name: "Blog 2",
      title: "Second Blog",
      date: "2023-02-01",
      content: "This is the content of the second blog.",
      image:
        "https://docs.solana.com/assets/images/solana-get-started-build-and-deploy-6fd5a43e6373d99204790c0db287b943.png",
      path: "/blog/second",
      direction: "row",
    },
  ];
  return (
    <>


# PRODUCTION_DATABASE_URL="postgresql://admin:user34546.@aws.berhdomain.us-west-2.rds.amazonaws.com:5432/testdb"

AWS_ACCESS_KEY_ID="AKIA4UAHHJJPIWHNLW6O"

AWS_SECRET_KEY="Xer3UjHzfiKYwpI02bo/0lrKKUZf89J6jMmh2"

SALT_KEY="HixgsaQn764nbwMGxTNU//QTLeNslCn"

GITHUB_PRIVATE_KEY="LS0tLSURSBLRVktLS0tLQpNSUlFcFFJQkFBS0NBUUVBcTJpQXF0Tkw5ZzZJUUdDVEVkeGJodEI5RkhYTGVFaGVhOUh0S2M2U282aU5NT0k0CmFtZG1KcnB4MXlnclByS0ZXYklFNB3CjB6NjMvQU9SQmk2ZU5aNzZwWFppM0pzanVVS0Z4Q2hoZmhSZUI4YXVzcTZBNytQckhMMk1ZaFRBakl1ODR0QzcKTDJVUSs5TGFmWFFlUEI5aXd5aGhYV3Vsc2E1czQybXlGQTJDZVpreEZxaEgrcGYvYndTL3I2Q1A5WWU2d1ArUApuMjl2YjlJcE5PbnI2TFNJMG1XU0FORjA3TysvZGVGcTlxajVBbXZEVzVLWnZyQVdVNDRRdnhhcmhIemg0YkVICnMvellpb2xvSXFlWnowUWIzMDVoTDVukFVa0RyUzFtSVhBZTIzbnpiczJmSXdtWU9ETXRLM2xEVEs2L2JKY1BBb0dCQUtZMjNBZjZwTFVoWWcyN0JvNysKdGxEYkFlV3J3RHAzTlQ2VzJVdkI5eGNlMHdqaXp3MGdnLzhvT2hiRnlGU0dhMUp0SFdWNGlRaTh5eGFFaElJVApXVS9KQXBsMVVPM1dlL1o2RUxVY3FBc3I5Vm05T2Q5STlIb0hKcXdHU1hBc1I3VVhTcnI0UHVNMmVEVVpGdmpsClNkNVhyTXRLN1RPbTd5UGEyZ2dFdDJINUFvR0JBTGx4QURJT3hiVFVadmYxQXEwTGNXMWgzZm1MOG1aaHJ4Ni8Kk5cWNyeEUKU1RwcWdnNjR2MFZiY3RTU2FreSs0eFlLY1pGUkdGTEV1cy84TmF3d0wwL1VURmgvRFBYWjFlVmpNclYwN3NZeAorcS95NEhFSG9oWmNRczVUaS93U0pHVkpMUm1vZGJDaUxPUVllSkF5WWZGbHhVdTZDUDMvaGFJPQotLS0tLUVORCBSU0EgUFJJVkFURSBLRVktLS0tLQ=="

GITHUB_APP_ID="5644633"

CELERY_BROKER_URL = "redis://localhost:6379/0"

